.Page {
    .tool-box {
        text-align: right;
    }
    button {
        border: none;
    }
}

.Item {
    padding: 6px;
    border-radius: 6px;

    .remover {
        color: red;
    }
    .fields {
        display: inline-block;
    }
    .item-image {
        width: 200px;
        height: 100px;
    }
    .item-name {
        margin-bottom: 2px;
    }
    .item-description {
        margin: 10px;
        display: inline-block;
        vertical-align: top;
        border: solid 1px red;
    }
}
.Item:hover {
    cursor: pointer;
    background: rgba(255,230,230,.6);
}
