.Page {
    .tool-box {
        text-align: right;
    }
    .tool-box-button {
        border: none;
    }
}

.Item {
    padding: 6px;
    border-radius: 6px;

    .remover {
        color: red;
    }
    .fields {
        display: inline-block;
    }
    .item-image {
        width: 200px;
        min-height: 100px;
    }
    .item-name {
        margin-bottom: 2px;
    }
    .item-description {
        margin: 10px;
        display: inline-block;
        vertical-align: top;
    }

    .transition-rotation-enter {
        transform: rotate(-90deg);
        transition: transform .1s ease-in .0s;
    }
    .transition-rotation-enter-active {
        transform: rotate(0deg);
    }
    .transition-rotation-leave {
        transform: rotate(0deg);
        transition: transform .3s ease-in 0s;
    }
    .transition-rotation-leave-active {
        transform:rotate(-90deg);
    }
}
.Item:hover {
    cursor: pointer;
    background: rgba(255,230,230,.6);
}
