.Page {
  margin-bottom: 20px;
}
.Page .tool-box {
  text-align: right;
}
.tool-box-button {
  border: none;
}
.ItemEditor .item-image {
  max-width: 400px;
}
.Item {
  padding: 6px;
  border-radius: 6px;
}
.Item .remover {
  color: red;
}
.Item .fields {
  display: inline-block;
}
.Item .item-image {
  width: 200px;
  min-height: 100px;
}
.Item .item-name {
  margin-bottom: 2px;
}
.Item .item-description {
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}
.Item .transition-rotation-enter {
  transform: rotate(-90deg);
  transition: transform 0.1s ease-in 0s;
}
.Item .transition-rotation-enter-active {
  transform: rotate(0deg);
}
.Item .transition-rotation-leave {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in 0s;
}
.Item .transition-rotation-leave-active {
  transform: rotate(-90deg);
}
.Item:hover {
  cursor: pointer;
  background: rgba(255, 230, 230, 0.6);
}
